<h1>COVID-19: Virginia</h1>

<ul>
  <li>Infected: <%= @data.infected %></li>
  <li>Dead: <%= @data.dead %></li>
  <li>Currently Sick: <%= @data.sick %></li>
  <li>Recovered: <%= @data.recovered %></li>
</ul>

