body {
  font-family: $main;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  font-family: $header;
  color: $highlight;
  font-size: 5vw;
  padding: 5px;
}

ul {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 30px auto;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid $highlight;
  border-radius: 10px;
  padding: 10px;
  font-weight: 700;
  width: 40%;
  min-height: 150px;
  margin: 20px 40px;
  font-size: 30px;
  font-size: 3.5vw;
}

.last-updated {
  position: fixed;
  bottom: 2px;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
    padding-top: 30px;
  }

  .last-updated {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    width: 100%;
  }

  li {
    width: 80%;
    min-height: 100px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .last-updated {
    display: none;
  }
}